### Test Check PySpark

In [3]:

import os 
os.environ['PYSPARK_PYTHON'] = '/usr/bin/python3.7'

PYSPARK_PYTHON = /usr/bin/python3.7
PYSPARK_DRIVER_PYTHON = /usr/bin/python3.7
os.environ['PYSPARK_DRIVER_PYTHON'] = '/usr/bin/python3.7'

In [ ]:
!wget https://gitlab.com/juanmanoel/dataset-atp-big-data-frameworks/-/raw/master/ocorrencias_criminais_corrigida.csv

## Analise Exploratoria - Dataset Ocorrencias Criminais

## Dicionario de Dados

O dicionário de dados deste dataset é declarado a seguir:
Campo 	

| Campo | DESCRIÇÃO |
|-------|-----------|
| Dia   |  Dia da ocorrência     |
| Mes   |  Mes da ocorrência     |
| Ano   |  Ano da ocorrência     |
| Bloco |Região da ocorrência  |   Região da ocorrência 
| Tipo  |  Tipo da ocorrência criminal 
| Descrição |   Breve descrição da ocorrência 
| Descrição da localização | Descrição da localização da ocorrência (rua, por exemplo) 
| Latitude |   Localização da ocorrência 
| Longitude |  Localização da ocorrência

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("ATP Analise Exploratoria").config("spark.some.config.option","some-value").getOrCreate()

In [4]:
from pyspark import SparkContext
sc = SparkContext

In [17]:
# USE APENAS QUANDO NÃO TIVER RODANDO NO SERVIDOR LOCAL
#!wget -c  https://gitlab.com/juanmanoel/dataset-atp-big-data-frameworks/-/raw/master/ocorrencias_criminais_corrigida.csv

In [20]:
df = spark.read.option("header",True).csv("/home2/ead2021/SEM1/juan.manoel/ocorrencias_criminais_corrigida.csv")

##### Analise Dataframe entendimento da tabela

In [8]:
df.show()

+---+---+----+--------------------+--------------------+--------------------+------------------------+------------+-------------+
|Dia|Mes| Ano|               Bloco|                Tipo|           Descricao|Descrição_da_localizacao|    Latitude|    Longitude|
+---+---+----+--------------------+--------------------+--------------------+------------------------+------------+-------------+
| 18|  3|2015|     047XX W OHIO ST|             BATTERY| AGGRAVATED: HANDGUN|                  STREET|41.891398861|-87.744384567|
| 18|  3|2015|066XX S MARSHFIEL...|       OTHER OFFENSE|    PAROLE VIOLATION|                  STREET|41.773371528|-87.665319468|
| 18|  3|2015|044XX S LAKE PARK...|             BATTERY|DOMESTIC BATTERY ...|               APARTMENT| 41.81386068|-87.596642837|
| 18|  3|2015|051XX S MICHIGAN AVE|             BATTERY|              SIMPLE|               APARTMENT|41.800802415|-87.622619343|
| 18|  3|2015|    047XX W ADAMS ST|             ROBBERY|      ARMED: HANDGUN|                SIDEWALK|41.878064761|-87.743354013|
| 18|  3|2015| 049XX S DREXEL BLVD|             BATTERY|              SIMPLE|               APARTMENT|41.805443345|-87.604283976|
| 18|  3|2015|   070XX S MORGAN ST|             BATTERY|DOMESTIC BATTERY ...|               APARTMENT|41.766402779|-87.649296123|
| 18|  3|2015| 042XX S PRAIRIE AVE|             BATTERY|DOMESTIC BATTERY ...|               APARTMENT|41.817552577|-87.619818523|
| 18|  3|2015| 036XX S WOLCOTT AVE|           NARCOTICS|POSS: CANNABIS 30...|                  STREET|41.828138428|-87.672782106|
| 18|  3|2015| 097XX S PRAIRIE AVE|             BATTERY|              SIMPLE|    RESIDENCE PORCH/H...| 41.71745472|-87.617663257|
| 18|  3|2015|130XX S DR MARTIN...|     CRIMINAL DAMAGE|          TO VEHICLE|    PARKING LOT/GARAG...|41.658138493|-87.613672862|
| 15|  3|2015|078XX S VINCENNES...|       OTHER OFFENSE|HARASSMENT BY TEL...|    CTA GARAGE / OTHE...|41.752406801|-87.633792381|
| 18|  3|2015|086XX S EXCHANGE AVE|   WEAPONS VIOLATION|UNLAWFUL POSS OF ...|    DRIVEWAY - RESIDE...|41.738563465|-87.552678593|
| 18|  3|2015| 014XX S ASHLAND AVE|             BATTERY|              SIMPLE|                SIDEWALK| 41.86304084|-87.666288555|
| 18|  3|2015| 051XX W CHICAGO AVE|               THEFT|        RETAIL THEFT|             GAS STATION|41.894945606|-87.754874977|
| 18|  3|2015|077XX S KINGSTON AVE|            BURGLARY|      FORCIBLE ENTRY|               APARTMENT|41.754602618|-87.562650741|
| 18|  3|2015|   024XX W NORTH AVE| MOTOR VEHICLE THEFT|          AUTOMOBILE|                   OTHER|41.910312648|-87.687806494|
| 18|  3|2015| 069XX S LOOMIS BLVD|               THEFT|       FROM BUILDING|      GROCERY FOOD STORE|41.768167414|-87.659053795|
| 18|  3|2015|105XX S LAFAYETTE...|PUBLIC PEACE VIOL...|    RECKLESS CONDUCT|                   ALLEY| 41.70284845|-87.624588931|
| 18|  3|2015| 087XX S KIMBARK AVE|               THEFT|       FROM BUILDING|           BAR OR TAVERN|41.736588206| -87.59299436|
+---+---+----+--------------------+--------------------+--------------------+------------------------+------------+-------------+
only showing top 20 rows

In [9]:
from pyspark.sql import functions as F
from pyspark.sql.types import IntegerType
from pyspark.sql.functions import col, avg
import pyspark.sql.functions as func
from pyspark.sql.functions import countDistinct, avg, stddev

## Quantidade de crimes por ano?
----

* Usando Select para formatar a data da coluna Ano e definindo meu alias para Ano
* Em seguida passei o agrupamento por Ano 
* contei os ocorridos por ano.

In [1]:
# coloque suas respostas aqui

## Quantidade de crimes por ano que sejam do tipo NARCOTICS?
---

#### Crie uma View temporaria em memoria com o dataframe

In [11]:
# coloque suas respostas aqui

#### Usando SQL para afzer as querys 

* Primeiro defini meu target(ano)
* Depois passei um count(*) para pegar todas as ocorrencias 
* Como Condicional passei o tipo da ocorrencias NARCOTICS 
* Agrupando por Ano e Ordenando por Ano

In [12]:
# coloque suas respostas aqui  
# coloque suas respostas aqui

## Quantidade de crimes por ano que sejam do tipo NARCOTICS e tenham ocorrido em dias pares?
---
* Primeiro defini meu target(ano)
* Depois passei um count(*) para pegar todas as ocorrencias 
* Como Condicional passei o tipo da ocorrencias NARCOTICS 
* Agrupando por Ano e Ordenando por Ano
* Passei o boolean type AND com o Parametro Dia % 2 == 0

In [14]:
# coloque suas respostas aqui

In [2]:
# coloque suas respostas aqui

## Mês com maior ocorrência de crimes?
----

Passei o Parametro Mes dentro da subquery contando o numero de linhas dos Mes e chamando de ocorrencias com isso agrupei por Mes e ordenei para apresentar de ordem descendente, limitando apenas 1 unico valor de saida

In [3]:
# coloque suas respostas aqui

## Mês com a maior média de ocorrência de crimes?
----

Aqui fiz 4 querys 

* 1 - Para agrupar por mes a media score das ocorrencias 
* 2 - A segunda pega o maximo valor dessa avg_ocorrencias 
* 3 - Faz um select de mes, AVG(total_linhas) agrupando por Mes 
* 4 - Ultima query ele pega os Valores Maximos de Mes, e Avg_ocorre, usando condicional where para passar a segunda query com condição para avg_ocorre = MAX valor da média

In [4]:
# coloque suas respostas aqui

In [5]:
# coloque suas respostas aqui

In [6]:
# coloque suas respostas aqui

## Mês por ano com a maior ocorrência de crimes?

---

* Aqui passei um groubBy(mes) para grupar por mes
* Em Seguida passei um agregador agg para o valor Max do Ano
* Limitando apenas uma unica saida

In [7]:
# coloque suas respostas aqui

## Mês com a maior ocorrência de crimes do tipo DECEPTIVE PRACTICE?
---

Aqui pensei que poderia rodar um test checando pelo pyspark e tambem com sql para validar as duas saidas


A Primeira DF_DECEPTIVE_PRACTICE passei um filter para pegar apenas os tipos DECEPTIVE PRACTICE 

Em Seguida agrupei Mes e Ano usando agregação para contar o as vezes que os dados da coluna mes aparece chamando de Mes_ocorr

In [8]:
# coloque suas respostas aqui

Com a DF criado passei os parametros MAX em todas as dimenções de atenção da tabela(Mes, Ano, Mes_Ocorr)

In [9]:
# coloque suas respostas aqui

### Validação com SQL

Com o dado do dataframe pensei em passar pelo sql para validar a saida dos dados pela query a baixo

Passei um MAX(mes, Mes_, Ano) e em uma subquery passei os parametros e Mes,Ano e Count(Mes)

Usando WHERE passei o tipo do dado buscado e agrupei por Mes e Ano

In [10]:
# coloque suas respostas aqui

## Dia do ano com a maior ocorrência de crimes?

----

PS: Por falha e erro jo job não consegui rodar essa query

Contudo a ideia era agrupar Mes, Ano e Dia e ordenar por ocorrencias e com isso fazer um count do mes

In [11]:
# coloque suas respostas aqui